@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  min-height: 50%;
}

@media only screen and (min-width: 1280px) {
  .chart {
    display: block;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .chart1 {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .chart2 {
    display: block;
  }
  .pad {
    font-size: 20px;
  }
  .astronomy {
    width: 20%;
  }
  .astronomy-text {
    font-size: 18px;
  }
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
